.primary {
  background-color: white;
  border: 1px solid #dee2e6;
  color: #007bff;
}

.primary:hover {
  background-color: #e9ecef;
  color: #035fc2;
}

.primary:disabled {
  color: #a3a5a8;
  cursor: default;
}

.primary:disabled:hover {
  background-color: white;
}

.active {
  background-color: #007bff;
  color: white;
}

.active:disabled {
  background-color: #007bff;
  color: white;
  cursor: default;
}

.danger {
  background-color: #ff4e4e;
}

.danger:hover {
  background-color: #ec4848;
  color: white;
}

.danger:focus,
.danger:active {
  background-color: #d64040;
  color: white;
}

.submit {
  background-color: #a3f09c;
}

.submit:hover {
  background-color: #86d87f;
}

.submit:focus,
.submit:active {
  background-color: #73c26c;
}
